
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/adminStyle.css" rel="stylesheet" />
    <link href="~/Content/Site1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


</head>
<body>
    <section class="bodysec">
        <!--Zoom effect-->
        <div class="container in">
            <div class="row">
                <div class="col-sm-3">
                    <div class="content">
                        <a class="btn btn-outline-primary me-2" href="@Url.Action("DisplayDoctors", "Manager")">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="~/Content/images/img2.jpeg.jpg" />
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Doctors</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="content">
                        <a class="btn btn-outline-primary me-2" href="@Url.Action("DisplayPatients", "Manager")">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="~/Content/images/img3.jpeg.jpg" />
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Patients</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="content">
                        <a class="btn btn-outline-primary me-2" href="@Url.Action("DisplayPharmasicts", "Manager")">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="~/Content/images/img1.jpeg.jpg" />
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Pharmacists</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="content">
                        <a class="btn btn-outline-primary me-2" href="@Url.Action("Displayfrontofficer", "Manager")">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="~/Content/images/img4.jpeg.jpg" />
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">FrontOfficers</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center; border: 1px solid #ccc; padding: 10px; margin: 10px; ">
                    <div class="col-sm-3">
                        <div class="content">
                            <a class="btn btn-outline-primary me-2" href="@Url.Action("UpdateManager", "Manager")">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="~/Content/images/admin.jpeg.jpg" />
                                <div class="content-details fadeIn-bottom">
                                    <h3 class="content-title">Admin</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>


