
@model DALLibrary.Domain_Classes.Medicine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Pharmacist.cshtml";
}

<div style="font-family: 'Arial', sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        @using (Html.BeginForm("Edit", "Pharmacist", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MedicineId)
            <div class="banner">
                <h1>Medicines Update</h1>
            </div>
            <div class="item">
                <p>Name Of Medicine</p>
                @Html.TextBoxFor(model => model.MedicineName)
                
            </div>
            <div class="item">
                <p>Price</p>
                @Html.TextBoxFor(model => model.Price)
            </div>
            <div class="item">
                <p>Tax<span class="required">*</span></p>
                @Html.TextBoxFor(model => model.Tax)
            </div>
            <div class="item">
                <p>Discount<span class="required">*</span></p>
                @Html.TextBoxFor(model => model.Discount)
            </div>
            <div class="item">
                <p>Manufature Date<span class="required"></p>
                <input type="date" @Html.TextBoxFor(model => model.ManufactureDate) />
                <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="item">
                <p>Expire Date<span class="required"></p>
                <input type="date" @Html.TextBoxFor(model => model.ExpiredDate) />
                <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsAvailable)
                        @Html.ValidationMessageFor(model => model.IsAvailable, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="btn-block">
                <button type="submit" class="btn btn-success"> Update Medicine</button>
            </div>
        }
    </div>
</div>
