@model IEnumerable<DALLibrary.Domain_Classes.Message>

@{
    ViewBag.Title = "MessagePatient";
    Layout = "~/Views/Shared/_Layout_Doctor.cshtml";
}



<html>
<head>
    
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link href="~/Scripts/Inbox.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-header">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body contacts_body">
                        @foreach (DALLibrary.Domain_Classes.Appointment item in ViewBag.Appointments)
                        {
                            <div class="chat_ib">
                                <p> @item.Patient.Name <span class="chat_date">@item.StartDateTime.ToString("dddd , dd-MM-yyyy")</span></p>
                                @using (Html.BeginForm("MessagePatient", "Doctor", FormMethod.Post))
                                {
                                    <button class="btn btn-primary" type="submit" name="id" value=@item.PatientId>View Message</button>
                                }
                            </div>
                        }
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Chating with @Session["Pname"]</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                @if (Model != null)
                                {
                                    foreach (DALLibrary.Domain_Classes.Message item in Model.ToList())
                                    {
                                        if (item.SenderId == (int)Session["PatientId"])
                                        {
                                            <span>@Session["Pname"]</span>
                                            <p>
                                                @item.Message_
                                            </p>
                                            <span class="time_date"> @item.MessageTime</span>
                                            <span class="time_date"> @item.Status</span>
                                            <br />
                                            <br />
                                        }
                                        else if (item.ReceiverId == (int)Session["PatientId"])
                                        {
                                            <p>
                                                @item.Message_
                                            </p>
                                            <span class="time_date"> @item.MessageTime</span>
                                            <span class="time_date"> @item.Status</span>
                                            <br />
                                            <br />
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                 @using (Html.BeginForm("AddMessage", "Doctor", FormMethod.Post))
                                {
                                     <input type="text" class="form-control type_msg" id="txtMessage" name="txtMessage" maxlength="200" placeholder="Type your message" required style="color: black;" />
                                     <button class="input-group-text send_btn" type="submit" name="id" value=@Session["PatientId"]><i class="fas fa-location-arrow" aria-hidden="true">Send</i></button>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>