@model IEnumerable<DALLibrary.Domain_Classes.Appointment>
@{
    ViewBag.Title = "ViewAppointments";
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}



@*<div style="font-family: 'Arial', sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">*@
        @using (Html.BeginForm("ViewAppointments", "Patients", FormMethod.Post, new { onsubmit = "return validateForm();" }))
        {
            <table class=" table table-striped table-dark">
                <thead>
                    <tr>
                        <td>
                            Doctor Name
                        </td>
                        <td>
                            Details
                        </td>
                        <td>
                            Status
                        </td>
                        <td>
                            Date Of Op
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr>
                            <td>
                                @d.Doctor.DoctorName
                            </td>
                            <td>
                                @d.Details
                            </td>
                            <td>
                                @d.Status
                            </td>
                            <td>
                                @d.StartDateTime
                            </td>
                            <td>
                                @using (Html.BeginForm("CancelAppoint", "Patients", FormMethod.Post))
                                {
                                    @Html.HiddenFor(modelItem => d.AppointmentId)
                                    <button class="btn btn-primary" type="submit" name="id" value=@d.AppointmentId>Cancel</button>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


